.search-bar {
  background-color: transparent;
  width: 95%;
  max-width: 338px;
}

@media (min-width: 640px) {
  .search-bar {
    width: 363px;
    max-width: 363px;
  }
}

@media (min-width: 768px) {
  .search-bar {
    width: 738px;
    max-width: 738px;
  }
}
