.divider-group {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-2.3rem);
  width: 100%;
}

.divider-icon {
  font-size: 4rem;
}

.first-divider {
  width: 20rem;
  height: 1px;
  background: linear-gradient(to right, rgb(255, 255, 255, 0), white);
}

.second-divider {
  width: 20rem;
  height: 1px;
  background: linear-gradient(to left, rgb(255, 255, 255, 0), white);
}

.divider-group-hero {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-icon-hero {
  font-size: 4rem;
}

.first-divider-hero {
  width: 13rem;
  height: 1px;
  background: linear-gradient(to right, rgb(255, 255, 255, 0), white);
}

.second-divider-hero {
  width: 13rem;
  height: 1px;
  background: linear-gradient(to left, rgb(255, 255, 255, 0), white);
}

@media (min-width: 1181px) {
  .divider-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 318px;
    transform: translateY(0);
    width: 64px;
  }

  .divider-icon {
    font-size: 4rem;
  }

  .first-divider {
    width: 1px;
    height: 8rem;
    background: linear-gradient(rgb(255, 255, 255, 0), white);
  }

  .second-divider {
    width: 1px;
    height: 8rem;
    background: linear-gradient(white, rgb(255, 255, 255, 0));
  }

  .divider-group-hero {
    flex-direction: column;
    padding-top: 0;
  }

  .divider-icon-hero {
    font-size: 7rem;
  }

  .first-divider-hero {
    width: 1px;
    height: 13rem;
    background: linear-gradient(rgb(255, 255, 255, 0), white);
  }

  .second-divider-hero {
    width: 1px;
    height: 13rem;
    background: linear-gradient(white, rgb(255, 255, 255, 0));
  }
}
