.modal {
  height: 24rem;
  width: 60rem;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

.scroll-backdrop {
  overflow-y: scroll;
}

@media (max-width: 1180px) {
  .modal {
    height: 48rem;
    flex-direction: column-reverse;
    align-items: center;
    gap: 6rem;
    width: 98%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-height: 792px) {
  .modal {
    top: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
