@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normal-type: #9099a1;
  --fighting-type: #ce4069;
  --flying-type: #92aade;
  --poison-type: #ab6ac8;
  --ground-type: #d97746;
  --rock-type: #c7b78b;
  --bug-type: #90c12c;
  --ghost-type: #5269ac;
  --steel-type: #5a8ea1;
  --fire-type: #ff9c54;
  --water-type: #4d90d5;
  --grass-type: #63bb5b;
  --electric-type: #f3d23b;
  --psychic-type: #f97176;
  --ice-type: #74cec0;
  --dragon-type: #096dc4;
  --dark-type: #5a5366;
  --fairy-type: #ec8fe6;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:link {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
