@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --normal-type: #a8a77a;
  --fighting-type: #c22e28;
  --flying-type: #a98ff3;
  --poison-type: #a33ea1;
  --ground-type: #e2bf65;
  --rock-type: #b6a136;
  --bug-type: #a6b91a;
  --ghost-type: #735797;
  --steel-type: #b7b7ce;
  --fire-type: #ee8130;
  --water-type: #6390f0;
  --grass-type: #7ac74c;
  --electric-type: #f7d02c;
  --psychic-type: #f95587;
  --ice-type: #96d9d6;
  --dragon-type: #6f35fc;
  --dark-type: #705746;
  --fairy-type: #d685ad;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:link {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
